.articleList {
  margin-right: 21.667rem;
  border-radius: 2px;
  width: 700px;
  height: auto;
  background: var(--juejin-c-list);

  .list_header {
    padding: 1.3rem 1rem;
    border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.17rem;
    line-height: 1;

    span {
      padding: 0 1.2rem;
      font-size: 1.16rem;
      border-right: 1px solid hsla(0, 0%, 59.2%, 0.2);

      &:hover {
        color: #007fff;
      }

      &:last-child {
        border: none;
      }
    }
    .active {
      color: #007fff;
    }
  }

  .list_item {
    cursor: pointer;
    position: relative;
    background: var(--juejin-c-list);
    padding: 12px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:hover {
      background: var(--juejin-c-list-item-hover);
    }
  }
  :global {
    :where(.css-dev-only-do-not-override-sk7ap8).ant-list-split .ant-list-item {
      border-block-end: none;
    }
  }
  .list_item_header {
    display: flex;
    color: #86909c;

    &_author {
      display: flex;
      align-items: center;
      margin-right: 8px;
      max-width: 162px;
      font-size: 13px;
      line-height: 22px;
      color: var(--juejin-c-author);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      &:hover {
        color: #1d7dfa;
      }
    }

    &_date {
      position: relative;
      padding: 0 10px;
      line-height: 22px;
      font-size: 13px;
      flex-shrink: 0;
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 1px;
        height: 14px;
        background: #e5e6eb;
        content: ' ';
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }

    &_tag {
      display: flex;
      align-items: center;
      position: relative;
      flex-shrink: 0;
      font-size: 13px;
      line-height: 22px;
      padding: 0 8px;
      color: #86909c;

      &:hover {
        color: #1d7dfa;
      }
    }
  }

  .list_item_content {
    display: flex;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e6eb;
    margin-top: 10px;
    width: 100%;

    &_left {
      width: 100%;

      &_icon {
        display: flex;
        align-items: center;

        :global {
          .ant-space-align-center {
            position: relative;
            margin-right: 20px;
            font-size: 13px;
            line-height: 20px;
            color: #4e5969;
            flex-shrink: 0;
            display: flex;
            align-items: center;

            .ant-space-item {
              display: flex;
              align-items: center;
              svg {
                display: block;
                width: 16px;
                height: 16px;
                background-size: 100%;
              }
            }
          }
        }
      }
    }

    :global {
      .ant-list-item-meta {
        flex: 1 1 auto;
        .ant-list-item-meta-title {
          display: flex;
          margin-bottom: 8px;

          a {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: var(--juejin-c-list-title);
            width: 100%;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }

          a:hover {
            color: var(--juejin-c-list-title-hover);
          }
        }
        .ant-list-item-meta-description {
          color: #86909c;
          font-size: 13px;
          line-height: 22px;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
      }
    }
    .list_item_thumb {
      flex: 0 0 auto;
      width: 120px;
      height: 80px;
      margin-left: 24px;
      background-color: #fff;
      border-radius: 2px;
    }
  }
}

@media (max-width: 960px) {
  .articleList {
    margin-right: 0;
    width: 100%;
    border-radius: 0;
  }
}
