.articleList {
  margin-right: 21.667rem;
  border-radius: 2px;
  width: 700px;
  height: auto;
  background: #fff;

  .list_header {
    padding: 1.3rem 1rem;
    border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.17rem;
    line-height: 1;

    span {
      padding: 0 1.2rem;
      font-size: 1.16rem;
      border-right: 1px solid hsla(0, 0%, 59.2%, 0.2);

      &:hover {
        color: #007fff;
      }

      &:last-child {
        border: none;
      }
    }
    .active {
      color: #007fff;
    }
  }

  .list_item {
    height: 140px;

    .list_item_meta > ant-list-item-meta-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #1d2129;
    }
  }
  .list_item_header {
    display: flex;
    align-items: center;
    color: #86909c;
    margin-right: 8px;
    max-width: 162px;
    font-size: 13px;
    line-height: 22px;
  }
}
