.articleList{
  margin-right: 21.667rem;
    border-radius: 2px;
    width: 700px;
    background: #fff;

    .list_header{
          padding: 1.3rem 1rem;
            border-bottom: 1px solid hsla(0, 0%, 59.2%, .1);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.17rem;
            line-height: 1;

            span{
                  padding: 0 1.2rem;
                    font-size: 1.16rem;
                    border-right: 1px solid hsla(0, 0%, 59.2%, .2);

                    &::hover {
                        color: #007fff;
                      }

                      &:last-child{
                        border: none;
                      }
            }
          
    }

    .list_content{
    width: 100%;
      background-color: #fff;
      position: relative;
    }
    
}