@import "../../styles/media.scss";

.article {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 1.8rem;
    display: flex;

    .content {
        flex: 1;
        border: 1px solid #999;
        margin-right: 2rem;
    }

}

@include media-mobile {
    .article {
        flex-direction: column;

        .content {
            width: 90%;
            margin: 0 auto;
        }

        .sider {
            width: 100%;
        }
    }


}