@import "../../styles/media.scss";

.article {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 1.8rem;
    display: flex;

    .content {
        flex: 1;
        margin-right: 1rem;
        padding: 2rem;
        background-color: var(--juejin-c-header);
        border: 1px solid var(--juejin-c-bg-soft);

        .author {
            &>div {
                border: none;
                margin-top: 2rem;
            }
        }

        .title {
            font-size: 3rem;
            line-height: 4rem;
            font-weight: 700;
            padding-top: 1rem;
        }

        .markdownContent {
            background-color: var(--juejin-c-header);
            color: var(--juejin-c-text-1);
        }

        .tagListBox {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            height: 2rem;
            font-size: 1.2rem;

            .tagList {

                margin-right: 4rem;
                flex-shrink: 0;


                span {
                    background-color: var(--juejin-c-gray);
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                    border-radius: 3px;
                    color: #515767;
                }

                .tag {
                    background-color: #eaf2ff;
                    color: var(--juejin-toc-blue);

                }

            }
        }
    }

    .sider {
        width: 25rem;

        .navbar {
            background-color: var(--juejin-c-header);
            margin-top: 2rem;
            padding: 1rem;
            position: sticky;
            top: 1rem;

            border: 1px solid var(--juejin-c-bg-soft);

            .navTitle {
                font-size: 1.4rem;
                font-weight: 700;
                border-bottom: 3px solid var(--juejin-c-bg-soft);
                padding: 0.5rem;
            }

            :global {
                .title-anchor {
                    font-size: 1.2rem;
                    line-height: 2.5rem;
                    color: var(--juejin-c-text-1);

                    &:hover {
                        background-color: var(--juejin-c-text-4);
                    }
                }

                .active {
                    background-color: var(--juejin-c-gray);
                    color: var(--juejin-toc-blue);

                    &::before {
                        content: "";
                        display: inline-block;
                        height: 15px;
                        width: 0.3rem;
                        transform: translate(-15px, 4px);
                        background-color: var(--juejin-toc-blue);
                        border-radius: 0 3px 3px 0;
                    }
                }
            }
        }
    }
}

@include media-mobile {
    .article {
        flex-direction: column;

        .content {
            width: 90%;
            margin: 0 auto;
        }

        .sider {
            width: 100%;

            .navbar {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}