.navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    z-index: 250;
        border-bottom: 1px solid #f1f1f1;
          color: #909090;
          height: 5rem;
              position: fixed;
                top: 0;
                left: 0;
                right: 0;
                transition: all .2s;
  
    .logoArea {
      line-height: 55px;
      display: flex;
      margin-left: 60px;
      margin-right: 10px;
    }
  
    .linkArea {
      a {
        font-size: 14px;
        padding: 0 20px;
        color: #515767;
      }
  
      .active {
        color: #1e80ff;
      }
    }
  
    .operationArea {
      margin-left: 150px;
  
      button {
        margin-right: 20px;
      }
    }
  }
  