@import "../../styles/media.scss";

.navbar {
  display: flex;
  align-items: center;
  z-index: 250;
  color: #909090;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;
  background-color: var(--juejin-c-header);
  border-bottom: 0.0833rem solid #f1f1f1;
  justify-content: space-between;

  .wrppper {
    display: flex;
    align-items: center;

    .logoArea {
      line-height: 4.5833rem;
      display: flex;
      margin-left: 5rem;
      margin-right: 0.8333rem;
    }

    .linkArea {
      a {
        font-size: 1.1667rem;
        padding: 0 1.4167rem;
        color: var(--juejin-c-text-1);
      }

      .active {
        color: #1e80ff;
      }
    }
  }

  .mobile {
    display: none;
    margin-left: 3.3333rem;
    font-size: 1.3333rem;

    img {
      margin-right: 0.8333rem;
    }

    .arrow {
      margin-left: 2px;
      .low {
        fill: #515767;
        transform: rotate(0deg);
        transition: transform 0.2s ease-in-out;
      }

      .up {
        fill: #1e80ff;
        transform: rotate(-180deg);
      }
    }
  }

  .themebutton {
    margin-right: 4.1667rem;
  }
}

.overlay {
  width: 9rem;
  text-align: center;
  ul {
    background-color: var(--juejin-c-bg) !important;
    li {
      background-color: var(--juejin-c-bg) !important;
      color: var(--juejin-c-text-1) !important;
      text-align: center !important;

      &:hover {
        span > a::before {
          content: "";
          position: absolute;
          top: auto;
          right: 0;
          bottom: 0;
          left: 0;
          height: 2px;
          background-color: #1e80ff;
          width: 2.3333rem;
          margin: auto;
        }
      }
    }
  }
}

@include media-mini-mobile {
  .navbar {
    .wrppper {
      display: none;
    }

    .mobile {
      display: block;
    }
  }
}

@include media-mobile {
  .navbar {
    .wrppper {
      display: none;
    }

    .mobile {
      display: block;
    }
  }
}

@include media-between-mini-and-normal-mobile {
  .navbar {
    .wrppper {
      display: none;
    }

    .mobile {
      display: block;
    }
  }
}
